<h2>Hamaro Rajasthan</h2>
<table>
    <tr>
        <td><img src="/assets/ajmer.jpg"/></td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/ajmer/" target="_blank">Ajmer</a>
            Situated in the heart of the desert of Rajasthan, Ajmer is a blend of Sufi culture and Hindu religion.
        </td>
    </tr>
    <tr>
        <td><img src="/assets/alwar.jpg"/></td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/alwar.html"target="_blank">Alwar</a>
            150-km from Jaipur and 170-km from Delhi, Alwar is nestled between a cluster of small hills of the Aravalli range.
        </td>
    </tr>
    <tr>
        <td><img src="/assets/bharatpur.jpg"/></td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/bharatpur.html" target="_blank">Bharatpur</a>
            The Favourite Bird Retreat - The 55-km long journey by road from Agra drives you to the town of Bharatpur the eastern gateway to Rajasthan.
        </td>
    </tr>
    <tr>
        <td><img src="/assets/bikaner.jpg"/></td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/bikaner" target="_blank">Bikaner</a>
            This Royal walled city is a part of the desert tourist triangle and lies on the northern tip of the triangle.
        </td>
    </tr>
    <tr>
        <td><img src="/assets/bundi.jpg"/></td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/bundi.html" target="_blank">Bundi</a>
            The Undiscovered Splendour - 36km from Kota is a tiny picturesque town, Bundi, which is one of the unexplored cities, with a rich historical wealth.
        </td>
    </tr>
    <tr>
        <td><img src="/assets/chittorgarh.jpg"/></td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/chittorgarh.html" target="_blank">Chittorgarh</a>
            The pride and glory of Rajasthan - Chittaur echoes with the tales of romance and valour unique to the Rajput tradition.
        </td>
    </tr>
    <tr>
        <td><img src="/assets/jaipur.jpg"/></td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/jaipur" target="_blank">Jaipur</a>
            The Rose Pink City founded by Maharaja Jai Singh II (1693-1743), is the capital of Rajasthan.
        </td>
    </tr>
    <tr>
        <td><img src="/assets/jaisalmer.jpg"/></td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/jaisalmer" target="_blank">Jaisalmer</a>
            The name Jaisalmer evokes a vivid picture of sheer magic and brilliance of the desert.
        </td>
    </tr>
    <tr>
        <td><img src="/assets/jaisamand.jpg"/></td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/jaisamand.html" target="_blank">Jaisamand</a>
            Jaisamand Sanctuary is situated 50-km south of Udaipur, the picturesque 'City of Lakes', succulent valleys and hills.
        </td>
    </tr>
    <tr>
        <td><img src="/assets/jodhpur.jpg"/></td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/jodhpur" target="_blank">Jodhpur</a>
            Amidst the sand dunes and thorny vegetation of Thar desert towers a fort, 120 metres above the plain.
        </td>
    </tr>
    <tr>
        <td><img src="/assets/karauli.jpg"/></td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/karauli.html" target="_blank">Karauli</a>
            Karauli is a holy city situated 160 kms from Jaipur. Earlier called Kalyanpuri, after the local deity Kalyanji, Karauli was founded in 1348 AD.
        </td>
    </tr>
    <tr>
        <td><img src="/assets/kota.jpg"/></td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/kota.html" target="_blank">Kota</a>
            Along the eastern bank of the Chambal River lies Kota - an amazing example of majestic medieval age and modern industrialization.
        </td>
    </tr>
    <tr>
        <td><img src="/assets/kumbhalgarh.jpg"/></td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/kumbhalgarh.html" target="_blank">Kumbhalgarh</a>
            Cradled in a cluster of 13 mountain peaks of the Aravalli ranges, the formidable medieval citadel - Kumbhalgarh stands a wary sentinel to the past.
        </td>
    </tr>
    <tr>
        <td><img src="/assets/mountabu.jpg"/></td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/mount-abu" target="_blank">Mount Abu</a>
            The only hill station in Rajasthan, Mount Abu huddles among the rocks on a 1,220-m granite table mountain at the far southwestern end of the Aravalli hills.
        </td>
    </tr>
    <tr>
        <td><img src="/assets/nagaur.jpg"/></td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/nagaur.html" target="_blank">Nagaur</a>
            The early history of Nagaur before the advent of the Mughals is intermingled with the exploits of the Sultans.
        </td>
    </tr>
    <tr>
        <td><img src="/assets/pushkar.jpg"/></td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/pushkar" target="_blank">Pushkar</a>
            11-km from Ajmer on the edge of the Thar Desert lies a tiny tranquil town of Pushkar along the bank of the picturesque Pushkar Lake
        </td>
    </tr>
    <tr>
        <td><img src="/assets/rajsamand.jpg"/></td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/rajsamand.html" target="_blank">Rajsamand</a>
            Close to Kankroli is the dam built by Maharana Raj Singh in 1660 AD. Many embellishing arches and magnificent 'chhatris' adorn the embankment.
        </td>
    </tr>
    <tr>
        <td><img src="/assets/ranthambore.jpg"/></td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/ranthambore" target="_blank">Ranthambore</a>
            A small village near the township of Sawai Madhopur, in the state of Rajasthan.
        </td>
    </tr>
    <tr>
        <td><img src="/assets/samode.jpg"/></td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/samode" target="_blank">Samode</a>
            40 kms northwest from Jaipur is the splendid Samode Palace set amidst fairy tale surroundings. Its history goes back more than four and half centuries.
        </td>
    </tr>
    <tr>
        <td><img src="/assets/sawaimadhopur.jpg"/></td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/sawai-madhopur" target="_blank">Sawai Madhopur</a>
            GATEWAY TO THE TIGER'S DEN - Lying on the main Delhi - Mumbai railway line, Sawai Madhopur is the gateway to the world renowned Ranthambhore National Park.
        </td>
    </tr>
    <tr>
        <td><img src="/assets/shekhawati.jpg"/></td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/shekhawati.html" target="_blank">Shekhawati</a>
            THE OPEN AIR ART GALLERY - The semi desert region of Shekhawati holds a fascination all of its own.
        </td>
    </tr>
    <tr>
        <td><img src="/assets/udaipur.jpg"/></td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/udaipur" target="_blank">Udaipur</a>
            In the harsh terrain of the hills and ravines of Aravallis, flourishes the city of lakes, Udaipur.
        </td>
    </tr>
</table>
<br/><br/>
<table>
    <tr>
        <th colspan="3">
            <a href="http://www.rajasthan-india-tours.com/rajasthan-travel/" target="_blank">Rural Destinations of Rajasthan</a>
        </th>
    </tr>
    <tr>
        <td>
            <a href="http://www.rajasthan-india-tours.com/banswara.html" target="_blank">Banswara</a>
        </td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/barmer.html" target="_blank">Barmer</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://www.rajasthan-india-tours.com/churu.html" target="_blank">Churu</a>
        </td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/dausa.html" target="_blank">Dausa</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://www.rajasthan-india-tours.com/dholpur.html" target="_blank">Dholpur</a>
        </td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/dundlod.html" target="_blank">Dundlod</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://www.rajasthan-india-tours.com/dungarpur.html" target="_blank">Dungarpur</a>
        </td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/jalore.html" target="_blank">Jalore</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://www.rajasthan-india-tours.com/jhalawar.html" target="_blank">Jhalawar</a>
        </td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/jhunjhunu.html" target="_blank">Jhunjhunu</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://www.rajasthan-india-tours.com/khetri.html" target="_blank">Khetri</a>
        </td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/mandore.html" target="_blank">Mandore</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://www.rajasthan-india-tours.com/merta.html" target="_blank">Merta</a>
        </td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/nathdwara.html" target="_blank">Nathdwara</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://www.rajasthan-india-tours.com/nawalgarh.html" target="_blank">Nawalgarh</a>
        </td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/ramgarh.html" target="_blank">Ramgarh</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://www.rajasthan-india-tours.com/ranakpur.html" target="_blank">Ranakpur</a>
        </td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/sikar.html" target="_blank">Sikar</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://www.rajasthan-india-tours.com/siliserh.html" target="_blank">Siliserh</a>
        </td>
        <td>
            <a href="http://www.rajasthan-india-tours.com/tonk.html" target="_blank">Tonk</a>
        </td>
    </tr>
</table>

                           