<h2>Change Password</h2>
<form action="/sessions/change_password/1" method="post">
Enter MJ ID: <input type="text" value="" name="mjid" /> <label class="notice"><%= notice %></label><br/>
<p class="button"><input type="submit" value="submit" name="submit" class="button_style"  /></p>
</form>
<br/><br/><br/><br/><br/><br/>