<h1>Login</h1>

<form accept-charset="UTF-8" action="/sessions" method="post"/>
  <p>
    <label for="mj_id">MJ ID</label><br />
    <input id="mj_id" name="mj_id" type="text" required="required"/>
  </p>
  <p>
    <label for="password">Password</label><br />
    <input id="password" name="password" type="password" required="required"/>
  </p>
  <p class="button"><input name="commit" type="submit" value="Log in" class="button_style" /></p>
  <a href="/change_password">Change password ?</a>
