<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Jai Shri Krishna! <%= @user.firstname %> <%= @user.lastname %> ji,</p>
    <p>Change your Majeshwari Jagruth password by clicking on the given link:</p>
    <p><%= @url %></p>
    <p>In case you are unable to click the link, copy and paste the link in your internet browser.</p>
    <p>Regards,</p>
    <p>Maheshwari Jagruth Team</p>
    <p>Promoted by</p>
    <p>Salasar Industries India Limited</p>
  </body>
</html>
