<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Jai Shri Krishna! <%= @user.firstname %> <%= @user.lastname %> ji,</p>
    <p>We are glad to receive your request for member registration with Maheshwari Jagruth.</p>
    <p>We heartly welcome you to Maheshwari Jagruth family.</p>
    <p>Maheshwari Jagruth is dedicatedly committed to unite the members at a single platform for the benefit of one and all and this would be possible only with your suppport.</p>
    <p>Kindly complete the registration process by clicking the given link:</p>
    <p><%= @url %></p>
    <p>In case you are unable to click the link, copy and paste the link in your internet browser.</p>
    <p>Regards,</p>
    <p>Maheshwari Jagruth Team</p>
    <p>Promoted by</p>
    <p>Salasar Industries India Limited</p>
  </body>
</html>
