
<p class="top_msg">Your Maheshwari user id is <b><%= @user.mj_id %></b></p>
<h2>Create password page</h2>
<form accept-charset="UTF-8" action="/users/store_password/<%= @user.id %>" class="new_user" id="new_user" method="post">
  <p>
    <label for="user_password">Password</label><br />
    <input id="user_password" name="user[password]" size="30" type="password" required="required" value=""/>
  </p>
  <p>
    <label for="user_password_confirmation">Password confirmation</label><br />
    <input id="user_password_confirmation" name="user[password_confirmation]" size="30" type="password" required="required" value=""/>
  </p>
  <p class="button">
  	<input name="commit" type="submit" value="Complete Registration" />
  </p>
</form>
