    <p>Jai Shri Krishna! <%= @user.firstname %> <%= @user.lastname %> ji,</p>
    <p>Welcome to Maheshwari Jagruth family.</p>
    <p>You will receive an email from Maheshwari Jagruth.</p>
    <p>Please complete your registration process by following the instructions in the email.</p>
    <p>Regards,</p>
    <p>Maheshwari Jagruth Team</p>
