<h2>Give new password</h2>
<form accept-charset="UTF-8" action="/users/update_password/<%= @user.id %>" class="new_user" id="new_user" method="post">
  <p>
    <label for="user_password">Password</label><br />
    <input id="user_password" name="user[password]" size="30" type="password" />
  </p>
  <p>
    <label for="user_password_confirmation">Password confirmation</label><br />
    <input id="user_password_confirmation" name="user[password_confirmation]" size="30" type="password" />
  </p>
  <p class="button">
  	<input name="commit" type="submit" value="Change Password" />
  </p>
  <p class="notice"><%= flash[:notice] %></p>
</form>
