<br/>
    <p><b>The below steps will assist you in registering with Maheshwari Jagruth</b><br/><br/>
    Step 1. Complete the registration form<br/><br/>
    Step 2. Submit the form<br/><br/>
    Step 3. You will receive a message<br/><br/>
    Step 4. Go to your mail box and complete the registration process<br/><br/>
    Step 5. Enter the desired password twice<br/><br/>
    Step 6. Your MJ Id would be activated<br/><br/>
   Step 7. Now you may Login<br/><br/>
    Step 8. To create your family tree you need to ensure that your family members are also Registered with Maheshwari Jagruth<br/><br/>
    Step 9. Go Under 'Build your family tree' section and enter the MJ id you wish to enter and select the relationship menu, identify the relation and click add member<br/><br/>
    Step 10. Your relation would be added in your tree<br/><br/>
    Step 11. In case of wrong entry you may delete the relation and retype again<br/><br/>
    Step 12. We request you to create your own family and cousins would create their respective ones<br/><br/>
    Step 13. We hope that the help menu would enable you to register yourself and incase of any difficulty please feel free to call us on the following number +91 90 300 27 648</p>
-------------------------------------------------------------------------------------------------------------------------------------------------------------------
<div class="row">
<h2>Registration Form</h2>
<form accept-charset="UTF-8" action="/users/create" class="new_user" id="new_user" method="post">
        <div class="span6">

<table border="0" cellspacing="2" cellpadding="3">
  <tr>
    <td><label for="user_firstname">Name</label></td>
    <td><input id="user_firstname" name="user[firstname]" size="30" type="text" required="required" /></td>
  </tr>
  <tr>
    <td><label for="user_lastname">Surname</label></td>
    <td><select id="user_lastname" name="user[lastname]" class="select_style">
        <option value="">Select Surname</option>
        <option value="Agiwal">Agiwal</option>
        <option value="Ajmera">Ajmera</option>
        <option value="Asawa">Asawa</option>
        <option value="Atasniya">Atasniya</option>
        <option value="Attal">Attal</option>
        <option value="Bagri">Bagri</option>
        <option value="Baheti">Baheti</option>
        <option value="Bajaj">Bajaj</option>
        <option value="Baldawa">Baldawa</option>
        <option value="Baldi">Baldi</option>
        <option value="Bangad">Bangad</option>
        <option value="Bhaiya">Bhaiya</option>
        <option value="Bhakkad">Bhakkad</option>
        <option value="Bhala">Bhala</option>
        <option value="Bhandari">Bhandari</option>
        <option value="Bhangdiya">Bhangdiya</option>
        <option value="Bhansali">Bhansali</option>
        <option value="Bharadia">Bharadia</option>
        <option value="Bhattad">Bhattad</option>
        <option value="Bhutada">Bhutada</option>
        <option value="Bidada">Bidada</option>
        <option value="Bihani">Bihani</option>
        <option value="Binani">Binani</option>
        <option value="Birla">Birla</option>
        <option value="Bisali">Bisali</option>
        <option value="Biyani">Biyani</option>
        <option value="Boob">Boob</option>
        <option value="Bung">Bung</option>
        <option value="Chandak">Chandak</option>
        <option value="Chaparwal">Chaparwal</option>
        <option value="Charkha">Charkha</option>
        <option value="Chinariya">Chinariya</option>
        <option value="Chitlangi">Chitlangi</option>
        <option value="Chokda">Chokda</option>
        <option value="Dad">Dad</option>
        <option value="Daga">Daga</option>
        <option value="Daliya">Daliya</option>
        <option value="Damani">Damani</option>
        <option value="Dangra">Dangra</option>
        <option value="Darak">Darak</option>
        <option value="Dargad">Dargad</option>
        <option value="Dhiran">Dhiran</option>
        <option value="Dhoot">Dhoot</option>
        <option value="Dodiya">Dodiya</option>
        <option value="Dudhani">Dudhani</option>
        <option value="Dujari">Dujari</option>
        <option value="Dwarkani">Dwarkani</option>
        <option value="Fofalia">Fofalia</option>
        <option value="Fomra">Fomra</option>
        <option value="Gaggad">Gaggad</option>
        <option value="Gagrani">Gagrani</option>
        <option value="Gandhi">Gandhi</option>
        <option value="Gangan">Gangan</option>
        <option value="Gattani">Gattani</option>
        <option value="Ghurka">Ghurka</option>
        <option value="Gilda">Gilda</option>
        <option value="Harkut">Harkut</option>
        <option value="Heda">Heda</option>
        <option value="Holani">Holani</option>
        <option value="Indani">Indani</option>
        <option value="Innani">Innani</option>
        <option value="Jaju">Jaju</option>
        <option value="Jakhotia">Jakhotia</option>
        <option value="Jethliya">Jethliya</option>
        <option value="Jhawar">Jhawar</option>
        <option value="Kabra">Kabra</option>
        <option value="Kacholia">Kacholia</option>
        <option value="Kakani">Kakani</option>
        <option value="Kalani">Kalani</option>
        <option value="Kalantri">Kalantri</option>
        <option value="Kaliya">Kaliya</option>
        <option value="Kapooria">Kapooria</option>
        <option value="Karnani">Karnani</option>
        <option value="Karwa">Karwa</option>
        <option value="Kasat">Kasat</option>
        <option value="Kela">Kela</option>
        <option value="Khadloya">Khadloya</option>
        <option value="Khatar">Khatar</option>
        <option value="Khator">Khator</option>
        <option value="Kothari">Kothari</option>
        <option value="Kuiya">Kuiya</option>
        <option value="Ladda">Ladda</option>
        <option value="Laddad">Laddad</option>
        <option value="Ladha">Ladha</option>
        <option value="Lahoti">Lahoti</option>
        <option value="Lakhani">Lakhani</option>
        <option value="Lakhotia">Lakhotia</option>
        <option value="Lara">Lara</option>
        <option value="Lathi">Lathi</option>
        <option value="Loya">Loya</option>
        <option value="Lunani">Lunani</option>
        <option value="Madi">Madi</option>
        <option value="Maheshwari">Maheshwari</option>
        <option value="Maiyya">Maiyya</option>
        <option value="Makkad">Makkad</option>
        <option value="Mal">Mal</option>
        <option value="Malani">Malani</option>
        <option value="Malpani">Malpani</option>
        <option value="Malu">Malu</option>
        <option value="Mandhani">Mandhani</option>
        <option value="Maniyar">Maniyar</option>
        <option value="Mantri">Mantri</option>
        <option value="Marda">Marda</option>
        <option value="Maru">Maru</option>
        <option value="Mehta">Mehta</option>
        <option value="Memani">Memani</option>
        <option value="Mimani">Mimani</option>
        <option value="Modani">Modani</option>
        <option value="Modi">Modi</option>
        <option value="Mohta">Mohta</option>
        <option value="Muchhal">Muchhal</option>
        <option value="Mundada">Mundada</option>
        <option value="Nagori">Nagori</option>
        <option value="Navandar">Navandar</option>
        <option value="Nawal">Nawal</option>
        <option value="Newar">Newar</option>
        <option value="Nyati">Nyati</option>
        <option value="Pachisia">Pachisia</option>
        <option value="Palod">Palod</option>
        <option value="Pangalia">Pangalia</option>
        <option value="Partani">Partani</option>
        <option value="Parwal">Parwal</option>
        <option value="Pasari">Pasari</option>
        <option value="Patwa">Patwa</option>
        <option value="Pediwal">Pediwal</option>
        <option value="Porwal">Porwal</option>
        <option value="Pungalia">Pungalia</option>
        <option value="Randhar">Randhar</option>
        <option value="Rathi">Rathi</option>
        <option value="Saboo">Saboo</option>
        <option value="Sadani">Sadani</option>
        <option value="Samdani">Samdani</option>
        <option value="Sangi">Sangi</option>
        <option value="Sanwal">Sanwal</option>
        <option value="Sarda">Sarda</option>
        <option value="Sikchi">Sikchi</option>
        <option value="Singhi">Singhi</option>
        <option value="Siwal">Siwal</option>
        <option value="Sodhani">Sodhani</option>
        <option value="Somani">Somani</option>
        <option value="Soni">Soni</option>
        <option value="Sukhani">Sukhani</option>
        <option value="Tapadiya">Tapadiya</option>
        <option value="Tawani">Tawani</option>
        <option value="Tawry">Tawry</option>
        <option value="Tela">Tela</option>
        <option value="Thirani">Thirani</option>
        <option value="Toshniwal">Toshniwal</option>
        <option value="Totla">Totla</option>
    </select></td>
  </tr>
  <tr>
    <td><label for="user_email">Email</label></td>
    <td><input id="user_email" name="user[email]" size="30" type="text" required="required"/></td>
  </tr>
  <tr>
    <td><label for="user_station">Station</label></td>
    <td><input id="user_station" name="user[station]" size="30" type="text" required="required" /></td>
  </tr>
<!--   <tr>
    <td><label for="user_occupation">Occupation</label></td>
    <td><input id="user_occupation" name="user[occupation]" size="30" type="text" required="required" /></td>
  </tr> -->
  <tr>
    <td><label for="user_mobileno">Mobile no / Land line</label></td>
    <td><input id="user_mobileno" name="user[mobileno]" type="text" required="required"/></td>
  </tr>
<!--   <tr>
    <td><label for="user_address">Address</label></td>
    <td><textarea rows="4" cols="30" id =" user_address" name="user[address]" required="required"></textarea></td>
  </tr> -->
  <tr>
    <!-- <label for="user_id">Existing User Id</label><br /> -->
    <td><input id="user_id" name="user[user_id]" type="hidden" value="2" /></td>
  </tr>
  <tr>
    <td>Gender</td>
    <td><input type="radio" name="user[gender]" value="Male" />Male
    <input type="radio" name="user[gender]" value="Female" />Female</td>
  </tr>
  <tr></tr>
  
  <tr>
    <td>
</div>

<div class="span4">
asdadasda
    </div>

        <input name="commit" type="submit" value="Register" class="button_style" /></td>
  </tr>
</table>
</div>
</form>

<br/><br/><br/>