<%- model_class = Advertisement -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

     

    <div class="row">
    <% @advertisements.each do |advertisement| %>
  <div class="span3" style="">
     <div class="img-polaroid" data-src="holder.js/300x200">

    <h5><%=link_to advertisement.title %></h5>
<hr>

    <div class="img">    <%= image_tag advertisement.ad %>
    </div>  
    <h1><%= advertisement.title %></h1>
    </div> 
  </div>

   <% end %>
</div>
