<%- model_class = Advertisement -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

     

    <% @advertisements.each do |advertisement| %>

     <div class="img-circle">
        <%= image_tag advertisement.ad(:small) %>
    </div>   
    <hr>
    <% end %>

