<h1>New advertisement</h1>

<form action="/advertisements" method="post" enctype="multipart/form-data">
  <div class="field">
    <label for="advertisement_title">Title</label><br />
    <input id="advertisement_title" name="advertisement[title]" size="30" type="text" />
  </div>
  <div class="field">
    <label for="advertisement_image">Image</label><br />
    <input id="ad" name="advertisement[ad]" type="file"/>
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Create Advertisement" />
  </div>
</form>

<%= link_to 'Back', advertisements_path %>
