<div id="content_links">
	<a href="/users?begin=15">Users</a>
	<a href="/family_members">Family members</a>
	<a href="/relations">Relations</a>
	<a href="/feedbacks">View Feedbacks</a>
	<a href="/publish_event">Publish Event</a>
</div>
<h2>Give new event</h2>

<%= render 'form' %>


