<div class="hero-unit">
<h1>About Us</h1>
<p class="lead">
Maheshwari Jagruth is an initiative by a group of maheshwaris with a primary objective to create awareness about its members in India and Abroad. Its aim to connect every member of its community and also display its ancestral structure to enable the members to have an access to their families and other members registered with Maheshwari Jagruth. </p>

<p>
Efforts are to strengthen the community with values, education, services and relationships etc and also establish itself with the help of its members who are actually the roots or pillars of the community. </p>
<p>

Maheswhari Jagruth intents to bring in its community a kind of awareness through which the members are benefited to its best and we very well acknowledge with thanks and are also proud for the kind of support and inspiration received from its members in the past.
</p>
<a href="/">read more...</a>
</div>
<div class="rigt_content">
</div>